In [14]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
#%matplotlib inline

In [15]:
er = pd.read_csv('C:\\Users\\Gamelab\\Desktop\\RT\\Others\\Thesis\\Thesis_coding\\ABM\\ENC_Py3_mra\\enrichment_df.csv').drop(columns='Unnamed: 0')
er

,Agriculture,Greenhouses,Mineral/Industry,Public Amenities,Commercial,Residential (L),Residential (M),Residential (H),Recreation,Nature,Water,Transport,Airport,q,max_d,Outside
0,1.342,0.000,0.000,0.000,6.255,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000
1,0.000,22.297,3.862,1.572,1.957,0.265,0.299,0.000,0.483,1.518,1.305,8.514,8.696,1.0,0.0,0.061
2,2.278,0.000,0.000,0.000,0.317,0.000,0.184,0.000,0.000,0.033,0.000,0.000,0.000,2.0,0.0,0.000
3,0.661,0.000,0.000,2.723,1.140,0.176,0.000,0.000,0.000,0.830,3.215,5.849,0.000,3.0,0.0,0.000
4,0.732,0.000,4.545,0.000,4.047,0.912,0.527,0.000,1.051,0.686,0.392,3.012,0.000,4.0,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,0.687,0.656,0.907,1.372,1.794,1.459,1.773,1.571,2.257,0.708,0.766,1.276,0.072,9.0,7.0,0.531
108,0.800,0.544,1.970,0.766,1.109,0.318,0.378,0.222,0.850,2.030,1.090,1.106,0.778,10.0,7.0,1.536
109,0.769,0.704,1.108,0.492,1.525,0.534,0.489,0.769,0.736,1.753,1.568,0.689,0.629,11.0,7.0,1.182
110,1.007,0.436,2.337,1.391,1.603,0.906,1.288,1.755,1.219,0.580,0.743,1.448,3.664,12.0,7.0,0.586
111,1.630,0.148,0.918,1.107,1.234,0.022,0.000,0.000,0.132,0.082,0.148,1.206,36.373,13.0,7.0,0.000

In [13]:
luc_names = ["Outside", "Agriculture", "Greenhouses", "Mineral/Industry",
             "Public Amenities", "Commercial", "Residential (L)",
             "Residential (M)", "Residential (H)", "Recreation", "Nature",
             "Water", "Transport", "Airport"]

luc_dict={}
for i in range(len(luc_names)):
    luc_dict[i]=luc_names[i]


luc_dict

{0: 'Outside',
 1: 'Agriculture',
 2: 'Greenhouses',
 3: 'Mineral/Industry',
 4: 'Public Amenities',
 5: 'Commercial',
 6: 'Residential (L)',
 7: 'Residential (M)',
 8: 'Residential (H)',
 9: 'Recreation',
 10: 'Nature',
 11: 'Water',
 12: 'Transport',
 13: 'Airport'}